@import "tailwindcss";

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-display: 'Syne', sans-serif;
}

body {
  background-color: white;
  color: #0f172a;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: #020617;
  color: #f8fafc;
}